extends /layouts/_layout

block vars
  - page = "index"
  - url = "/"
  - title = ""
  - desciption = ""

block body
  include /partials/_header

  h1 Welcome to My Website.

  include /partials/_footer